# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.exe
*.lnk
*.dat
*.log

# 虚拟环境
venv/
.venv/

# IDE 配置
.vscode/
.idea/

# 系统文件
*.exe
*.lnk
*.dat
*.log

*.json
*.db
*.BridgeLabelsAndRatings

Desktop/
Downloads/
Music/
Videos/
AppData/
